
    .footer {
        position: relative; /* Make the footer fixed at the bottom */
        bottom: 0;
        left: 0;
        width: 85; /* Full width footer */
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
        background-color: #101027; /* Slight transparency for floating effect */
        box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Shadow above the footer */
        z-index: 1000; /* Ensure the footer is on top of other content */
        font-family: 'Courier Prime', monospace; /* Apply Courier Prime font */
    }
    


.footer-logo img {
    width: 200px; 
    position: relative;
    left: 180px;
    padding: 50px;
}

.footer-columns {
    display: flex;
    gap: 50px; /* Space between columns */
    padding: 30px;
    right: 40px
}

.footer-column {
    color: #9deeab; /* Light color for text */
}

.footer-column h4 {
    margin-bottom: 10px; /* Space below headings */
    font-weight: bolder;
    font-size: 24px;

}

.footer-column ul {
    list-style-type: none; /* Remove default list style */
    padding: 0; /* Remove default padding */
}

.footer-column li {
    margin: 5px 0; /* Space between list items */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.footer-column li:hover {
    color: #A4D7E1; /* Change color on hover */
    cursor: pointer; /* Change cursor to pointer on hover */
}
